<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <div class="d-flex justify-content-end mt-3 mb-3">
      <a routerLink="/categories/add-category" class="btn btn-primary">Add Category</a>
    </div>
  </c-col>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Category List</strong>
      </c-card-header>
      <c-card-body>
        <ng-container *ngIf="categories">
          <table cTable>
            <thead cTableColor="dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories">
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
